<div class="row">
  <div class="col-6">
    <h2>Ici j'affiche les planetes</h2>
    <div class="row">
      <div *ngFor="let planet of planets" class="col-md-12">
        <h3>
          <a class="cursor-pointer" (click)="changePlanet(planet)">
            {{ planet.name }}
          </a>
        </h3>
      </div>
    </div>
  </div>
  <div class="col-6">
    <h2>Ici j'affiche les véhicules</h2>
    <div class="row">
      <div *ngFor="let starship of starships" class="col-md-12">
        <h3>
          <a class="cursor-pointer" (click)="changeStarship(starship)">
            {{ starship.name }}
          </a>
        </h3>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <app-starship-details *ngIf="starshipSelected" [starship]="starshipSelected"></app-starship-details>
    <app-planet-detail *ngIf="planetSelected" [planet]="planetSelected"></app-planet-detail>

  </div>
  </div>
