<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="col-md-2 text-center" href="#">
    <fa-icon [icon]="faHome"></fa-icon> Accueil
  </a>
  <a class="col-md-2 text-center" href="#">
    <fa-icon [icon]="faTruck"></fa-icon> Véhicules
  </a>
  <a class="col-md-2 text-center" href="#">
    <fa-icon [icon]="faGlobe"></fa-icon> Planetes
  </a>
</nav>
